.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  // Estilizando os campos de formulário do Angular Material
  mat-form-field {
    width: 95%; // Largura padrão para telas menores

    @media (min-width: 800px) {
      width: 30%; // Largura para telas maiores que 800px
    }
  }

  .button-group {
    margin-top: 20px;
    display: flex;
    gap: 20px; // Espaçamento entre os botões
  }
}
