<app-header></app-header>
<form [formGroup]="form" class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Matrícula</mat-label>
    <input matInput formControlName="matricula" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cargo</mat-label>
    <input matInput formControlName="cargo" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Perfil</mat-label>
    <input matInput formControlName="perfil" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Senha</mat-label>
    <input matInput formControlName="senha" type="password" />
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button color="primary" (click)="onSave()">Salvar</button>
    <button mat-raised-button color="warn" (click)="onCancel()">
      Cancelar
    </button>
  </div>
</form>
<app-footer></app-footer>
