html,
body {
  height: 90%;
  background-color: rgb(216, 231, 253);
}
body {
  margin: 0;
  font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}
* {
  font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}
