.rodape-container {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: #e7e7ec8e;
  border-bottom: 2px solid rgb(143, 191, 238);
  width: 100%;
  margin: 0px auto 0;
}
